# Image dataset sorted into order 220(Zoom-2 x Video ID-10 x Frames-11) x 512 (pixel) x 512 (pixel)
CentralCroppingofFramesInVideos.jpg
CentralCroppingofFramesInVideos.fig

# MATLAB temorary files
*.asv

# Files associated to MonkeyLogic
*.bhv2
MovingSquaresAndBO.txt
MovingSquaresAndBO_cfg2.mat
condplayorder.mat

# Folders associated to older/buggy versions of the task
Cardinal x root2/
Non-Cardinal dividedBy root2/
Speed_0.3dva_SlightMismatchBetweenCardinalandNon-CardinalAxes/
SpeedMatchedInCardinalandNonCardinalAxes/
testCodes/
Working Speed Matched Moving Squares/

# Image/Video files used by MonkeyLogic
*.bmp
# Random Moving bars
*.avi  